allure-pytest==2.8.29
allure-python-commons==2.8.29
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
EasyProcess==0.3
html-testRunner==1.2.1
idna==2.10
importlib-metadata==3.3.0
iniconfig==1.1.1
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.2
jsonp2json==1.0
jsonparser==1.0
jsonpath==0.82
linecache2==1.0.0
MarkupSafe==1.1.1
packaging==20.8
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.10.0
Pygments==2.7.3
pyparsing==2.4.7
pytest==6.2.1
pytest-fixture-config==1.7.0
pytest-webdriver==1.7.0
PyVirtualDisplay==1.3.2
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.1
style==1.1.0
toml==0.10.2
tqdm==4.55.0
traceback2==1.4.0
traitlets==4.3.3
typing-extensions==3.7.4.3
unittest2==1.1.0
update==0.0.1
urllib3==1.26.2
wcwidth==0.2.5
webdriverdownloader==1.1.0.3
zipp==3.4.0
